body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul li{
    list-style: none;
}

a{
    text-decoration: none;
    color: #000;
}

.container{
    width: 80%;
    margin: 0 auto;
    
}

.main_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5px;
}

.brand_name{
    font-weight: bold;
    font-size: 15px;
}

.right_section{
    display: flex;
    align-items: center;
}

.right_section .nav{
    border-right: 2px solid #ccc;
}

.nav ul{
    display: flex;
}

.nav ul li{
    margin-right: 20px;
    font-weight: bold;
}

.road_assistance{
    display: flex;
    padding-left: 20px;
}

.road_assistance .icon{
    margin-right: 15px;
    margin-top: 10px;
}

.road_assistance .inner_section p{
    font-weight: bold;
}

.road_assistance .inner_section #inner_txt{
    color: #1E1B1B;
    opacity: 0.7;
}

/* Hero section */
.flex{
    display: flex;  
}

.flex_1{
    display: flex;
    align-items: center;
}

#hero_section{
    padding-bottom: 40px;
}

#hero_section .text_section{
    width: 50%;
}

#hero_section .img_section{
    background-image: url(../img/Header_image.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 60vh;
    width: 50%;
    padding-left: 30px;
    margin-left: 200px;
}

#hero_section .text_section h2{
    font-size: 55px;
}

.orange_btn {
    background: #FF6433;
    border-radius: 12px;
    padding: 16px 40px;
    text-decoration: none;
    font-size: 18px;
    margin-top: 5px;
    display: inline-block;
    color: #fff;
}

#hero_section .time_section {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

#hero_section .text_section .time_text {
    width: 90%;
    font-size: 16px;
}

#hero_section.light-grey {
    color: #939191;
}

#hero_section .text_section .image {
    width: 10%;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#hero_section .time_section img {
    width: 100%;
}

/* Quote section */
#quote-section {
    background: #E2E6E9;
}

#quote-section .left_section{
    width: 50%;
}

#quote-section .left_section ul{
    padding: 0;
    margin-bottom: 50px;
}

#quote-section .left_section h2 {
    margin-bottom: 30px;
    font-size: 38px;
    font-family: Tahoma;
}

#quote-section .left_section .text-box p{
    text-align: justify;
    font-size: 13px;
}

#quote-section .left_section .text-box {
    width: 50%;
}

#quote-section .right_form_section{
    width: 45%;
    margin-left: 100px;
}

#quote-section .text-box h5{
    color: #1E1B1B;
    font-size: 17px;
    padding: 0;
}

#quote-section .left_section .know_more{
    display: flex;
    justify-content: flex-start;
    margin-top: 5px;
    font-size: 15px;
}

#quote-section .left_section .image-box{
    width: 8%;
    margin-right: 10px;
}

#quote-section .left_section .image-box img{
    width: 100%;
}

#quote-section .right_form_section h3{
    font-size: 30px;
    font-family: Tahoma;
    padding: 0;
}

#quote-section .right_form_section form{
    margin-top: 30px;
}

#quote-section .right_form_section input{
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    border: 0;
    border-radius: 8px;
    margin-bottom: 3px;
}

#quote-section .right_form_section a{
    margin-top: 20px;
}

/* Learn Section */
#learn_section .learn_1, #learn_section .learn_2{
    width: 50%;
}

#learn_section .learn_1{
  margin-top: 100px;
}

#learn_section .learn_1 h3{
    font-size: 35px;
    font-family: Tahoma;
}

#learn_section .learn_1 a{
    margin-top: 10px;
}

#learn_section .learn_2{
    margin: 40px 0;
}

#learn_section .text-box h5{
    font-size: 17px;
}

#learn_section .learn_2 .image-box{
    margin-right: 10px;
}

#learn_section .learn_2 .image-box .line{
    margin-left: 35px;
    padding: 5px 0;
    height: 40px;
}

#learn_section .image-box .text-box{
    justify-content: center;
}

/* Offer Section */
#offer_section{
    background: #E2E6E9;
}

#offer_section .hd_txt{
    text-align: center;
}

#offer_section .inner_body{
    padding: 60px 0 80px 0;
}

#offer_section .hd_txt h4{
    font-size: 16px;
}

#offer_section .hd_txt p{
    font-family: Tahoma;
    font-size: 35px;
    font-weight: bold;
    margin: 0;
}

#offer_section .display{
    margin-top: 30px;
    width: 100%;
}

#offer_section .display .box_img{
    height: 60px;
}

#offer_section .display_1 ul{
    display: flex;
    padding: 0;
}

#offer_section .display_2 ul{
    display: flex;
    padding: 0;
}

#offer_section .display li{
    width: 25%;
}

#offer_section .display .box{
    background: #fff;
    padding: 20px 70px;
    margin: 0 4px;
    text-align: center;
   
}

#offer_section .display .orange_box{
    background: #FF6433;
    padding: 20px 70px;
    margin: 0 4px;
    text-align: center;
}

#offer_section .display .orange_box p{
    color: #fff;
}

#offer_section .inner_body .learn_more{
    display: flex;
    justify-content: flex-end;
    margin-right: 4px;
    font-size: 15px;
}

.arrow{
    margin-left: 10px;
}

/* Get In Touch Section */
#GIT_section{
    background-color: #F2F2F2;
}

#GIT_section .GIT_section1{
    display: flex;
}

#GIT_section .bg_img1{
    background: url(../img/Car.png);
    height: 50vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 20%;
}

#GIT_section .bg_img2{
    background: url(../img/Repair.png);
    height: 50vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 50%;
}

#GIT_section .touch_txt{
    background: #FF6433;
    /*width: 90%; */
    padding: 30px 20px 28px 50px;
}

#GIT_section .touch_txt h2{
    font-family: Tahoma;
    font-size: 30px;
    margin: 50px 0;
    color: #fff;
}

#GIT_section .black_btn{
    background: #1E1B1B;
    padding: 10px 20px;
    border-radius: 5px;
    color: #fff;
}

#GIT_section .GIT_list ul{
    display: flex;
    padding: 0;
}

#GIT_section .GIT_list li{
    width: 25%;
}

#GIT_section .GIT_section2{
    height: 25vh;
}

#GIT_section .GIT_section2 .list_style{
    padding: 10px 0;
}

#GIT_section .GIT_section2 .list_style h2{
    font-weight: bold;
    font-family: Tahoma;
    font-size: 35px;
    color: #661CE7;
}

#GIT_section .GIT_section2 .list_style p{
    font-size: 18px;
}

#GIT_section .GIT_section2 .lst_list{
    text-align: center;
}

/* Brand Section */
#brand_section{
    background: #FAFAFA;
}

#brand_section .brand_header{
    font-family: Tahoma;
    font-size: 17px;
    text-align: center;
    padding-top: 60px;
}

#brand_section .row1 ul{
    display: flex;
    padding: 0;
}

#brand_section .row1 li{
    width: 20%;
}

#brand_section .logo{
    width: 70%;
}

#brand_section .row2{
    padding-bottom: 30px;
}

#brand_section .row2 ul{
    display: flex;
    padding: 0;
}

#brand_section .row2 li{
    width: 20%;
}

/* Customer Section */
#customer_section{
    background: #F2F2F2;
    padding-bottom: 60px;
}

#customer_section .customer_header{
    font-size: 22px;
    text-align: center;
    font-family: Tahoma;
    padding-top: 40px;
    margin-bottom: 40px;
}

#customer_section .testimonial{
    width: 50%;
    background: #fff;
    margin-right: 30px;
    padding: 40px;
}

#customer_section .t_img{
    margin-right: 20px;
}

#customer_section .testimony p{
    font-size: 16px;
    font-weight: 300;
}

#customer_section .customer_btm{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 97%;
}

#customer_section .customer_btm1{
    width: 4%;
}

#customer_section .customer_btm2{
    width: 48%;
    display: flex;
    justify-content: flex-end;
}

#customer_section .line{
    height: 3px;
    width: 15px;
    background: #939191;
    margin-right: 5px;
}

#customer_section .orange_line{
    background: #FF6433;
}

#customer_section .arrow1{
    height: 30px;
    width: 30px;
    background: #1E1B1B;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#customer_section .arrow1 img, #customer_section .arrow2 img{
    width: 60%;
} 

#customer_section .arrow2{
    height: 30px;
    width: 30px;
    background: #fff;
    border-radius: 50%;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Question Section */
#question_section{
    background: #E2E6E9;
}

#question_section .question_header{
    padding-top: 40px;
    font-size: 20px;
    text-align: center;
    margin-bottom: 50px;
}

#question_section .question_body{
    width: 60%;
    margin: 0 auto;
    padding-bottom: 70px;
    
}

#question_section .questions{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    padding: 10px 20px;
    margin-bottom: 5px;
}

#question_section .question{
    width: 80%;
}

#question_section .questions h4{
    font-size: 15px;
}

#question_section .questions p{
    color: #939191;
    font-size: 14px;
}

#question_section .add_btn{
    height: 30px;
    width: 30px;
    background: #FF6433;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

#question_section .add_btn p{
    color: #fff;
    font-size: 16px;
    font-weight: 800;  
}

/* footer1 Section */
#footer1_section{
    background: #1E1B1B;
    color: #fff;
    padding: 50px 0;
}

#footer1_section .footer_body{
    display: flex;
   justify-content: space-evenly;
}

#footer1_section .footer_1{
    width: 50%;
}

#footer1_section .footer_header{
    font-size: 27px;
}

#footer1_section .links{
    margin-right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer1_section .links img{
    width: 80%;
}

#footer1_section .help p{
    font-size: 11px;
}

#footer1_section .help h4{
    font-size: 16px;
}

/* Footer2 Section */
#footer2_section{
    background: #141212;
    color: #fff;
}

.main_footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5px;
}

#footer2_section .nav ul{
    display: flex;
}

#footer2_section .nav ul li{
    margin-right: 20px;
    font-weight: bold;
}

#footer2_section .nav li a{
    color: #fff; 
}

#footer2_section .copyright p{
    color: #939191;
}

/* Service1 Section */
#service1_section{
    padding: 50px 0;
}

#service1_section .section1_body{
    display: flex;
   justify-content: center;
}

#service1_section .section1_img{
    background: url(../img/Mechanic.png);
    min-height: 50vh;
    width: 40%;
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
} 

#service1_section .section1_text{
    padding: 40px 80px;
    width: 40%;
    background: #1E1B1B;
    color: #fff;
}

#service1_section .section1_text h2{
    font-size: 35px;
}

#service1_section .section1_text p{
    font-size: 15px;
}

/* Service2 Section */
#service2_section{
    background: #F5F5F5;
    padding: 40px 0;
}

#service2_section .section2_body{
    display: flex;
    justify-content: space-evenly;
    margin-left: 50px;
}

#service2_section .section2_body1{
    background: #fff;
    padding: 20px;
    width: 45%;
    justify-content: center;
}

#service2_section .section2_body1 h3{
    font-size: 28px;
}

#service2_section .section2_body1 p{
    font-size: 16px;
    margin-bottom: 30px;
}

#service2_section .section2_body1 .see_service{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-right: 4px;
    font-size: 15px;
}

#service2_section .section2_body1 .see_service img{
    width: 8%;
}

#service2_section .section2_body2{
    width: 45%;
}

#service2_section .section2_body1 img{
    width: 99%;
}

#service2_section .section2_display{
    margin-bottom: 10px;
}

#service2_section .section2_display3{
    margin-bottom: 0;
}

#service2_section .section2_display ul{
    display: flex;
    padding: 0;
    margin: 0;
}

#service2_section .section2_display li{
    width: 45%;
}

#service2_section .section2_display .box{
    background: #fff;
    padding: 50px 0;
    margin-right: 10px;
    text-align: center;
}

#service2_section .section2_display .orange_box{
    background: #FF6433;
    padding: 50px 0;
    margin-right: 10px; 
    text-align: center;  
    color: #fff;
}

/* Service3 Section */
#service3_section{
    /* background: #e8e3e3; */
    padding: 60px 0;
}

#service3_section .section3_body1{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

#service3_section .section3_body2{
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}

#service3_section .section3_body1 ul{
    padding: 0;
}

#service3_section .section3_text{
    width: 45%;
}

#service3_section .section3_text h2, h3{
    font-size: 28px;
}

#service3_section .section3_text p{
    font-size: 15px;
}

#service3_section .section3_body1 .section3_text{
    margin-right: 20px;
}

#service3_section .section3_body2 .section3_text{
    margin-left: 50px;
}

#service3_section .section3_img{
    width: 48%;
}

#service3_section .section3_img{
    display: flex;
    justify-content: space-between;  
}

#service3_section .checkmark{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

#service3_section .check img{
    width: 80%;
}

#service3_section .workshop1{
    background: url(../img/Workshop1.png);
    background: no repeat;
    background-size: cover;
    background-position: center;
    min-height: 40vh;
    width: 50%;
    margin-right: 10px; 
    /* margin-left: 50px; */
}

#service3_section .workshop2{
    background: url(../img/Workshop2.png);
    background: no repeat;
    background-size: cover;
    background-position: center;
    min-height: 40vh;
    width: 50%;   
}

#service3_section .workshop3{
    background: url(../img/Workshop3.png);
    background: no repeat;
    background-size: cover;
    background-position: center;
    min-height: 40vh;
    width: 50%;
    margin-right: 10px; 
}

#service3_section .workshop4{
    background: url(../img/Workshop4.png);
    background: no repeat;
    background-size: cover;
    background-position: center;
    min-height: 40vh;
    width: 50%;   
    /* margin-right: 80px; */
}





/* Mobile View */
@media(max-width: 426px){
    /* Index Page */
    .main_header{
        flex-direction: column;
        align-items: flex-start;
    }

    .right_section{
        display: none;
    }

    .flex_sc_column{
        flex-direction: column;
    }

    #hero_section .text_section, #hero_section .img_section{
        width: 100%;
    }

    #hero_section .img_section{
        padding: 0;
        margin: 0;
    }

    #hero_section .text_section{
        order: 2;
    }

    #hero_section .img_section{
        order: 1;
    }

    #hero_section .text_section h2{
        font-size: 35px;
    }

    .orange_btn{
        padding: 12px 30px;
    }

    #hero_section .time_section{
        margin-bottom: 30px;
    }
    
    #quote-section .left_section, #quote-section .right_form_section{
        width: 100%;
        margin: 0;
    }

    #quote-section .right_form_section{
        margin-bottom: 30px;
    }

    #quote-section .right_form_section h3 br{
        display: none;
    }

    #quote-section .left_section h2{
        width: 100%;
        font-size: 33px;
    }

    #quote-section .left_section .text-box{
        width: 80%;
    }

    #quote-section .left_section .image-box{
        width: 12%;
    }

    #learn_section .learn_1, #learn_section .learn_2{
        width: 100%;
    }

    #learn_section .learn_1{
        margin-top: 50px;
    }

    #learn_section .learn_1 h3{
        font-size: 35px;
    }

    #learn_section .learn_1 h3 br{
        display: none;
    }

    #learn_section .learn_1 p br{
        display: none;
    }

    #learn_section .learn_1 h3 p{
        font-size: 20px;
    }

    #learn_section .learn_2 ul{
       padding: 0;
    }

    #learn_section .learn_2 p br{
        display: none;   
    }

    #offer_section .display li{
        width: 100%;
        margin-bottom: 7px;
    }

    #GIT_section .bg_img1, #GIT_section .bg_img2{
        width: 100%;
    }

    #GIT_section .GIT_section1{
        flex-direction: column;
    }

    #GIT_section .touch_txt{
        padding: 15px 10px 25px 25px;
    }

    #GIT_section .touch_txt h2{
        font-size: 20px;
        margin: 20px 0;
    }

    #GIT_section .touch_txt h2 br{
        display: none;
    }

    #GIT_section .GIT_section2 .list_style h2{
        font-size: 20px;
    }

    #GIT_section .GIT_section2 .list_style p{
        font-size: 12px;
    }

    #brand_section .brand_header h2{
        font-size: 30px;
        padding-top: 0;
    }

    #brand_section .row1 ul, #brand_section .row2 ul{
        flex-direction: column;
    }

    #brand_section .row1 li{
        width: 70%;
        margin-left: 70px;
    }

    #brand_section .row2 li{
        display: none;
    }

    #customer_section .testimonial{
        width: 75%;
        margin-bottom: 15px;
    }

    #customer_section .customer_btm1{
        display: none;
    }

    #customer_section .testimonial_1 .t_name h3{
        font-size: 16px;
    }

    #customer_section .testimonial .flex{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #customer_section .testimonial .t_name{
        text-align: center;
    }

    #question_section .question_header{
        font-size: 17px;
    }

    #question_section .question_body{
        width: 100%;
    }

    #footer1_section .footer_1{
        width: 100%;
        margin-bottom: 50px;
        text-align: center;
    }

    #footer1_section .footer_1 .flex_sc_column{
        flex-direction: column;
    }

    #footer1_section .footer_1 .flex{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #footer1_section .footer_2{
        width: 100%;
        text-align: center;
    }

    #footer2_section .nav{
        display: none;
    }

    /* Services Page */
    #service1_section .section1_img{
        width: 100%;
    }

    #service1_section .section1_text{
        padding: 15px 0;
        width: 100%;
        margin-top: 20px;
    }

    #service1_section .section1_text h2{
        font-size: 25px;
        text-align: center;
    }

    #service1_section .section1_text p{
        font-size: 15px;
        width: 80%;
        padding-left: 35px;
    }

    #service1_section .section1_text p br{
        display: none;
    }

    #service1_section .section1_text .orange_btn{
        margin-left: 80px;
    }

    #service2_section .section2_body{
        margin: 0;
    }

    #service2_section .section2_body1{
        width: 90%;
        margin-bottom: 20px;
        padding: 15px;
    }
    
    #service2_section .section2_body2{
        width: 100%;
    }

    #service2_section .section2_display li{
        width: 49%;
    }

    #service2_section .section2_display ul{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #service3_section .section3_text, #service3_section .section3_img{
        width: 100%;
    }

    #service3_section .section3_img{
        order: 1;
    }

    #service3_section .section3_text{
        order: 2;
    }

    #service3_section .section3_text h2{
        text-align: center;
    }
    
    #service3_section .section3_body2 .section3_text{
        margin: 0;
    }

    #service3_section .section3_body2 .section3_text br{
        display: none;
    }
}

/* Tablet View */
@media (min-width: 427px) and (max-width: 769px){
    /* Index Page */
    .right_section .nav{
        border: 0;
    }
    
    .road_assistance{
        display: none;
    }

    .flex_sc_column{
        flex-direction: column;
    }

    #hero_section .text_section, #hero_section .img_section{
        width: 100%;
    }

    #hero_section .img_section{
        padding: 0;
        margin: 0;
    }

    #hero_section .text_section{
        order: 2;
    }

    #hero_section .time_section{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #hero_section .text_section h2{
        font-size: 45px;
        text-align: center;
    }

    #hero_section .text_section .orange_btn{
        margin-left: 200px;
    }

    #hero_section .text_section .time_text{
        width: 50%;
    }

    #hero_section .text_section .time_text .light-grey{
        margin-left: 70px;
    }

    #hero_section .img_section{
        order: 1;
    }

    #hero_section .text_section .image{
        width: 7%;
        margin-right: 15px;
    }

    #quote-section .left_section, #quote-section .right_form_section{
        width: 100%;
        margin: 0;
    }
    
    /* #quote-section .right_form_section{
        margin-bottom: 30px;
    } */

    #quote-section .right_form_section h3 br{
        display: none;
    }

    #quote-section .right_form_section input{
        padding: 20px;
    }

    #quote-section .left_section h2{
        width: 100%;
        font-size: 33px;
        padding-top: 20px;
    }

    #quote-section .left_section h2 br{
        display: none;
    }

    #quote-section .left_section .text-box{
        width: 100%;
    }

    #quote-section .left_section .image-box{
        width: 10%;
    }

    #quote-section .left_section .know_more a{
        font-size: 18px;
    }

    #quote-section .left_section .know_more{
        margin-top: 30px;
    }

    #quote-section .text-box h5{
        font-size: 20px;
    }

    #quote-section .left_section .text-box p{
        font-size: 18px;
    }

    #learn_section .learn_1{
        margin-top: 40px;
    }

    #learn_section .learn_1 h3 br{
        display: none;
    }

    #learn_section .learn_1, #learn_section .learn_2{
        width: 100%;
    }

    #learn_section .learn_1 p {
        font-size: 18px;
    }

    #learn_section .learn_1 p br{
        display: none;
    }

    #learn_section .learn_2 ul{
        padding: 0;
    }

     #learn_section .learn_2 .flex{
         display: flex;
    }

     #learn_section .text-box h5{
         font-size: 18px;
    }

     #learn_section .learn_2 p{
         font-size: 16px;
    }
 
    #learn_section .learn_2 p br{
         display: none;   
    }

     #offer_section .hd_txt h4{
        font-size: 20px;
    }

     #offer_section .display li{
        width: 80%;
        margin: 3px auto;
    }

    #offer_section .display .box{
        padding: 40px 70px;
    }

    #offer_section .display .orange_box{
        padding: 40px 70px;
    }

    #offer_section .inner_body .learn_more{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #brand_section .brand_header{
        font-size: 22px;
        padding-top: 40px;
    }

    #customer_section .testimonial{
        margin-right: 10px;
    }

    #customer_section .flex_sc_column{
        flex-direction: row;
    }

    #customer_section .testimonial{
       width: 48%;
       margin-bottom: 15px;
    }

    #customer_section .customer_btm1{
        display: none;
    }

    #question_section .question_body{
        width: 100%;
    }

    #footer1_section .flex_sc_column{
        flex-direction: row;
    }

    /* services Page */
    #service1_section .flex_sc_column{
        flex-direction: row;
    }

    #service2_section .flex_sc_column{
        flex-direction: row;
    }

    #service2_section .section2_body{
        margin-left: 30px;
    }

    #service3_section .flex_sc_column{
        flex-direction: row;
    }

    #service3_section .section3_text h2{
        font-size: 25px;
    }

    #service3_section .section3_text h2 br{
        display: none;
    }

    #service3_section .section3_text p br{
        display: none;
    }

}